# host address of the remote redis instance
export REMOTE_BIND_HOST=

# ssh gateway username
export SSH_GATEWAY_USER=

# ssh gateway private key
export SSH_GATEWAY_PKEY=

# host address of the ssh gateway
export SSH_GATEWAY_HOST=

# port of the ssh gateway
export SSH_GATEWAY_PORT=

# test target's deployment manifest
export DEPLOYMENT_MANIFEST=
