# password for the remote redis instance
export REDIS_AUTH=

# port for the remote redis instance
export REMOTE_BIND_PORT=

# ip address of the remote redis instance
export REMOTE_BIND_IP=

# ssh gateway username
export SSH_GATEWAY_USER=

# ssh gateway private key
export SSH_GATEWAY_PKEY=

# ip address of the ssh gateway
export SSH_GATEWAY_ADDRESS=

# port of the ssh gateway
export SSH_GATEWAY_PORT=
